* {
  box-sizing: border-box;
}

.timecont {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 6px;
  border: 2px solid black;
  font-size: 30px;
}

.buttons {
  display: flex;
  gap: 10px;

  margin-top: 20px;
}
